* {
    box-sizing: border-box;
}

body {
    background-color: #f6f7fb;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

button {
    position: relative;
    padding: 11px 24px;
    outline: none;
    cursor: pointer;
    background-color: #273c75;
    border: 1px solid #273c75;
    color: #fff;
    overflow: hidden;
}

button:focus {
    outline: none;
}

button .ripper {
    position: absolute;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transform: translate(-50%, -50%) scale(0);
    animation: scale 0.5s ease-out;
}

@keyframes scale {
    to {
        transform: translate(-50%, -50%) scale(3);
        opacity: 0;
    }
}
